.navbar,
.search-bar {
  justify-content: center;
}

.navbar,
input {
  outline: 3px solid black;
  background-color: white;
}

input {
  margin-right: 4px;
}

.urltext {
  font-size: 12px;
}

.btn {
  width: 15%;
}

.linkBtn {
  width: 80%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
  height: 10vh;
  background-color: black;
}
.darkMode {
  color: white;
  background-color: black;
}

.lightMode {
  color: black;
  background-color: white;
}

.toggleTrue {
  margin-left: 30px;
}
.toggleFalse {
  margin-left: 0;
}
.reSearch {
  background-color: white;
}

.card-img-top {
  height: 150px !important;
}
.yellow{

        float: right;
        color: yellow;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: yellow;
}
.icon{

    color: black;
    display: flex;
    justify-content: flex-end;
}

.card {
  height: 260px !important;
  padding-top: 5px;
  text-align: center;
}

#reddit .card {
  height: auto !important;
}

.main {
  margin-bottom: 25px;
}